body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.black-bg {
    background-color: #191919;
}

.black {
    color: #191919;
}

.beatblack {
  color: #191919;
  opacity: .8;
}

.grey-bg {
  background-color:#2D2D2D;
}

.grey {
  color:#2D2D2D;
}

.white-bg {
  background-color: #F8FDFF;
}

.white {
  color: #F8FDFF;
}

.blue-bg {
  background-color: #3B88E4;
}

.yellow-bg {
  background-color: #FFC300;
}

.red-bg {
  background-color: #FB406F;
}

.green-bg {
  background-color:#26FF00;
}

.purple-bg {
  background-color: #AD3BE2;
}

.blue {
  color: #3B88E4;
}

.yellow {
  color: #FFC300;
}

.red {
  color: #FB406F;
}

.green {
  color:#26FF00;
}

.purple {
  color: #AD3BE2;
}

.f0 {
    font-family: MeltowSan200-Regular;
}

.f0-stroke {
  font-family: MeltowSan200-Regular;
  text-shadow:
1px 1px white;
}

.f2 {
    font-family: Meltow-Marker;
    font-size: 32px;
}

.mini {
  font-size: 21px;
}

.inactive {
  color:white;
  opacity: 0.4;
  transition: all .2s;
}

.links {
  margin-right: 30px;
  list-style:none;
  text-decoration:none;
  font-size:2.2rem;
  top: 40%;
  transform: translateY(-50%);
  position:absolute;
  right:0;
}

.links li {
  margin-bottom: 5px;
}

.links li a {
  text-decoration: none;
}

.footer {
  width: 72%;
  position: absolute;
  bottom: 133px;
}

.f1 {
  font-family: geomanist_regularregular;
}

.container {
  padding-top: 28%;
  padding-left: 62px;
  height:100%;
  padding-right: 26px;
  position: relative;
}

.logotype {
  font-size: 35pt;
  margin-left: 11px;
  line-height: 36px;
  float:right;
  text-decoration: none;
  color:white;
}

.sb {
  float: left;
}

.main {
  width:406px;
  height:100%;
}

.secondary {
  height: 100%;
  width: 93px;
  position: relative;
}

.secondary ul {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  list-style: none;
  padding: 0;
  font-size:17px;
}

.secondary ul li {
  margin-bottom: 20px;
}

.secondary ul li a {
  text-decoration: none;
}

.secondary .active {
  color: white;
  opacity: 1;
}

.portfolio {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  height: 100%;
}

.collumns {
  display:inline-block;
  margin: 0;
  padding: 0;
  list-style:none;
  width:100%;
}

.collumn {
  background:url('http://i.imgur.com/O3DdX18.gif');
  background-position:center;
  background-size:cover;
  height: 100%;
  min-width: 290px;
  max-width: 300px;
  padding-top: 128px;
  padding-left: 8px;
  position: relative;
  cursor: pointer;
}

.topslack{
  position:absolute;
  z-index:1;
}

.portfolio .title {
  font-size: 39px;
  margin-bottom: 5px;
  margin-top: 0;
}

.portfolio .date {
  font-size: 25px;
}

.portfolio .text {
  font-size: 28px;
  margin-top: 31%;
}

.award {
margin: auto;
z-index: 1;
bottom: 113px;
position: ABSOLUTE;
}

.award > .icon {
  background: url('/images/trophyoutline.svg');
  background-position:center;
  background-size:contain;
}

.award > .trophy {
  margin: auto;
  height:100px;
  width: 100px;
  background: url('/images/awardmassdigi.svg');
  background-position:center;
  background-size:contain;
}



.award > p {
  font-size: 19px;
}

.tiny {
  font-size: 18px;
  font-weight: bold;
  margin-top: 6px;
}

.icon {
  width: 50px;
  height: 50px;
  background: black;
}

.text {
  width: 90%;
}

.cover {
  width: 100%;
  z-index: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0,0,0,0.3);
  transition: all .2s;
}

.collumn:hover > .cover {
  opacity: 0.5;
  transition: all .2s;
}

.secondary > ul > li > .inactive:hover {
  opacity:.8;
  transition: all .2s;
}

.links >  li > .inactive:hover {
  opacity:.8;
  transition: all .2s;
}

.aboutpic {
  background:url('http://image.masslive.com/home/mass-media/pgmain/img/mass_river_worcester_news/photo/20270413-standard.jpg');
  min-width: 300px;
  background-position:center;
  background-size: cover;
}

.aboutme {
  overflow: hidden;
  height:100%;
}

.filler {
  padding: 6%;
  padding-bottom: 0;
  height:100%;
  color:white;
  font-size: 25px;
  padding-top: 8%;
  overflow-y: auto;
}

.subtext {
  opacity:0.7;
  font-size: 20px;
}

.divider {
  background:white;
  opacity: 0.2;
  width:100%;
  height:2px;
  margin:10px;
  margin-top:32px;
  margin-bottom:20px;
}

.prolinks > ul {
  font-size: 28px;
  color:white;
  list-style: none;
  margin-top:0;
}

.prolinks > ul > li {
  display:inline-block;
  margin-right:28px;
}

.prolinks > ul > li > a {
  top: 0px;
  position:relative;
text-decoration: none;
color:white;
transition: all .2s;
}

.prolinks > ul > li > a:hover {
top: -5px;
transition: all .2s;
}

.sociallinks {
  float:right;
}

.sociallinks > ul {
  list-style:none;
}

.sociallinks > ul > li {
  width: 60px;
  top: 0px;
  height: 60px;
  cursor: pointer;
  position:relative;
  background: url('/images/twitter.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .2s;
}

.sociallinks > ul > li:hover {
top: -5px;
transition: all .2s;
}

.sociallinks > ul > li > a {
  width: 100%;
  height: 100%;
}

.mlink {
  text-decoration:none;
  color:white;
  font-size:29px;
  top: 0px;
  transition: all .2s;
  position:relative;
}

.mlink:hover {
  top:-5px;
  transition: all .2s;
}

.abouticons {
  text-align: center;
}

.abouticons > ul > li {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.abouticons > ul > li > div {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  background: url('/images/webapps.svg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.abouticons > ul > li > p {
  text-align: center;
  margin-top: 13px;
}

.header {
  background: url('/images/test.svg');
  height:69%;
  max-height: 445px;
  background-repeat: repeat-x;
  background-size: contain;
  width:100%;
}

.header > .nav {
  width: 98%;
  height: 4%;
  padding: 20px;
}

.header > .nav > .mylogo {
  width: 70px;
  height: 70px;
  float: left;
}

.header > .nav > .gameicon {
  width: 70px;
  height: 70px;
  float: right;
}

.extra, .mobile-android {
  background: url('/images/android.svg');
  height: 51%;
  background-repeat: no-repeat;
  width: 14%;
  min-width: 282px;
  min-height: 506px;
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  z-index:10;
}

.extra > .extraimg {
  background: red;
  width: 82.5%;
  height: 78%;
  position: absolute;
  top: 48.5%;
  left: 49%;
  transform: translate(-50%,-50%);
}

.subheader {
  background: #FB406F;
  text-align: center;
  height: 117px;
  padding-top: 58px;
}

.subheader > .trophy {
  margin-top: -35px;
  height: 130px;
  width: 158px;
  background: url('/images/awardmassdigi.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 2%;
  transition: all .2s;
}

.subheader > .trophy:hover {
  margin-top: -40px;
  transition: all .2s;
}

.subheader > .title {
  margin: 0px;
  font-size: 53px;
  color: white;
}

.subheader > .subtitle {
  font-size: 22px;
  color: white;
  margin-top: 11px;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
}

.content > .row {
  list-style:none;
  height: 106px;
  padding: 0;
  margin: auto;
  text-align: center;
}

.content > .row > li {
  display:inline-block;
  background: url('/images/appstorebadge.svg');
  width:207px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position:relative;
  transition: all .2s;
  top: 0px;
}

.content > .row > li:hover {
  top: -5px;
  transition: all .2s;
}

.content > p {
  font-size: 28px;
  margin: auto;
  width: 69%;
  min-width:600px;
}

.content > p > span {
/*PUT MELTOW-300 HERE*/
}

.content > .gallery-col {
  list-style: none;
  padding: 0;
  min-width: 447px;
}

.content > .gallery-col > .image {
width: 100%;
background: red;
height: 400px;
margin: auto;
display: block;
max-width: 805px;
border-radius: 2px;
margin-bottom: 15px;
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.content > .gallery-col > .blurb {
margin: auto;
display:block;
max-width: 805px;
border-radius: 2px;
margin-top: 15px;
margin-bottom: 15px;
}

.content > .gallery-col > .blurb > p{
  font-size: 21px;
    margin: auto;
    width: 98%;
    min-width: 552px;

}

.content > ul> .closure {
  text-align: center;
  font-size: 32px;
}

.finalwords {
  text-align: center;
  font-size: 30px;
  position: absolute;
    left: 0;
    width: 100%;
    color: white;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.finalwords > p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.finalwords > p > a{
text-decoration: none;
color:white;
font-size: 33px;
position: relative;
top: 0px;
transition: all .2s;
}

.finalwords > p > a:hover {
top: -5px;
transition: all .2s;
}

::-webkit-scrollbar {
    width: 10px
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, .5)
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: hsla(0, 0%, 100%, .8)
}
::-webkit-scrollbar-thumb:window-inactive {
    background: hsla(0, 0%, 100%, .5)
}
