body{
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.black-bg {
    background-color: #191919;
}

.black {
    color: #191919;
}

.beatblack {
  color: #191919;
  opacity: .8;
}

.grey-bg {
  background-color:#2D2D2D;
}

.grey {
  color:#2D2D2D;
}

.white-bg {
  background-color: #F8FDFF;
}

.white {
  color: #F8FDFF;
}

.blue-bg {
  background-color: #3B88E4;
}

.yellow-bg {
  background-color: #FFC300;
}

.red-bg {
  background-color: #FB406F;
}

.green-bg {
  background-color:#4caf50;
}

.purple-bg {
  background-color: #AD3BE2;
}

.blue {
  color: #3B88E4;
}

.yellow {
  color: #FFC300;
}

.red {
  color: #FB406F;
}

.green {
  color:#26FF00;
}

.purple {
  color: #AD3BE2;
}

.lab-accent {
  color: #ff7099;
}

.lab-accent-bg {
  background-color: #ff7099;
}


.lab {
  color: #8c225d;
}

.lab-bg {
  background-color: #8c225d;
}

.f0 {
    font-family: MeltowSan200-Regular;
}

.f0-stroke {
  font-family: MeltowSan200-Regular;
  text-shadow:
1px 1px white;
}

.f1 {
  font-family: geomanist_regularregular;
}

.f2 {
    font-family: Meltow-Marker;
    font-size: 32px;
}

.f3 {
  font-family: 'Source Sans Pro';
}

.mini {
  font-size: 25px;
}

.inactive {
  color:white;
  opacity: 0.4;
  transition: all .2s;
}

.links {
  margin-right: 30px;
  list-style:none;
  text-decoration:none;
  font-size:2.2rem;
  top: 40%;
  transform: translateY(-50%);
  position:absolute;
  right:0;
}

.links li {
  margin-bottom: 5px;
  cursor:pointer;
}

.links li a {
  text-decoration: none;
}

.footer {
  width: 72%;
  position: absolute;
  bottom: 133px;
}



.container {
  padding-top: 28%;
  padding-left: 62px;
  height:100%;
  padding-right: 26px;
  position: relative;
}

.logotype {
  font-size: 35pt;
  margin-left: 11px;
  line-height: 36px;
  float:right;
  text-decoration: none;
  color:white;
}

.sb {
  float: left;
}

.main {
  width:406px;
  height:100%;
}

.secondary {
  height: 100%;
  width: 93px;
  background-position:center;
  background-size: cover;
  position: relative;
  transition: all .2s;
}

.secondary ul {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  list-style: none;
  padding: 0;
  font-size:17px;
}

.secondary ul li {
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.secondary ul li a {
  text-decoration: none;
}

.secondary .active {
  color: white;
  opacity: 1;
}

#portfolio {
  white-space: nowrap;
  overflow-y: hidden;
  height: 100%;
  position: relative;
}
#portfolio {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
#portfolio:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dragattention {
  height: 20%;
width: 70%;
bottom: 10%;
position: absolute;
background: url(/images/dragtut.gif);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
z-index: 3000;
right:0
}

.collumns {
  display:none;
  margin: 0;
  padding: 0;
  list-style:none;
  width:100%;

}

.collumn {

  background-position:center;
  background-size:cover;
  height: 100%;
  min-width: 292px;
  max-width: 300px;
  padding-top: 128px;
  padding-left: 9px;
  position: relative;
  white-space: normal;
  -webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;          /* Likely future */
margin-left: -5px;
}

.topslack{
  position:absolute;
  z-index:1;
}

#portfolio .title {
  font-size: 39px;
  margin-bottom: 5px;
  margin-top: 0;
}

#portfolio .date {
  font-size: 25px;
}

#portfolio .text {
  font-size: 28px;
  margin-top: 31%;
}

.identifier {
  position:absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  top:10px;
  right:10px;
  z-index:1;
}

.award {
margin: auto;
z-index: 1;
bottom: 113px;
position: ABSOLUTE;
}

.award > .icon {
  background: url('/images/trophyoutline.svg');
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
}

.trophycase.righty{
  position: absolute;
  right: 20px;
  bottom: 32px;
}

.trophycase.lefty{
  position: absolute;
  left: 20px;
  bottom: 32px;
}

.trophycase.righty > .trophy {
  margin: auto;
  height:110px;
  width: 164px;
  background: url('/images/awardmassdigi.svg');
  background-position:center;
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
  float: right;
  margin-left: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.trophycase.lefty > .trophy {
  margin: auto;
  height:110px;
  width: 164px;
  background: url('/images/awardmassdigi.svg');
  background-position:center;
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
}




.award > p {
  font-size: 19px;
}

.tiny {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
}

.icon {
  width: 50px;
  height: 50px;
}

.text {
  width: 90%;
}

.backcover {
  width: 100%;
  z-index: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0,0,0,0.3);
  transition: all .2s;
}

.frontcover {
  width: 100%;
  z-index: 10;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.collumn:hover > .backcover {
  opacity: 0.5;
  transition: all .2s;
}

.secondary > ul > li .inactive:hover {
  opacity:.8;
  transition: all .2s;
}

.links > .inactive:hover {
  opacity:.8;
  transition: all .2s;
}

.aboutpic {


  background-position:center;
  background-size: cover;
  transition: all .2s;
}

.aboutme {
  overflow: hidden;
  height:100%;
  position:relative;
  top:15px;
  opacity:0;
}

.filler {
  padding: 6%;
  padding-bottom: 0;
  height:94%;
  color:white;
  font-size: 25px;
  padding-top: 8%;
  overflow-y: auto;
}

.horizontal {
  transform: rotate(90deg);
    left: 41%;
}

.subtext {
  opacity:0.9;
  font-size: 26px;
}

.supersubtext {
  opacity: 0.8;
  font-size: 24px;
  font-style: italic;
}

.divider {
  background:white;
  opacity: 0.2;
  width:100%;
  height:2px;
  margin:10px;
  margin-top:32px;
  margin-bottom:20px;
}

.prolinks > ul {
  font-size: 28px;
  color:white;
  list-style: none;
  margin-top:0;
}

.prolinks > ul > li {
  display:inline-block;
  margin-right:28px;
}

.prolinks > ul > li > a {
  top: 0px;
  position:relative;
text-decoration: none;
color:white;
transition: all .2s;
}

.prolinks > ul > li > a:hover {
top: -5px;
transition: all .2s;
}

.sociallinks {
  float:right;
}

.sociallinks > ul {
  list-style:none;
}

.sociallinks > ul > li {
  width: 60px;
  top: 0px;
  height: 60px;
  cursor: pointer;
  position:relative;
  float:right;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .2s;
}

.sociallinks > ul > li:hover {
top: -5px;
transition: all .2s;
}

.sociallinks > ul > li > a {
  width: 100%;
  height: 100%;
  display:block;
}



.mlink {
  text-decoration:none;
  font-size:29px;
  top: 0px;
  transition: all .2s;
  position:relative;
}

.mlink:hover {
  top:-5px;
  transition: all .2s;
}

.abouticons {
  text-align: center;
}

.abouticons > ul > li {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.abouticons > ul > li > div {
  width: 85px;
  height: 85px;
  margin: 0 auto;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.abouticons > ul > li:nth-child(1) > div {
background-image: url("/images/webapps.svg");
}
.abouticons > ul > li:nth-child(2) > div {
background-image: url('/images/mobileapps.svg');
}
.abouticons > ul > li:nth-child(3) > div {
background-image: url('/images/games.svg');
}
.abouticons > ul > li:nth-child(4) > div {
background-image: url('/images/desktopapps.svg');
}
.abouticons > ul > li:nth-child(5) > div {
background-image: url('/images/elearning.svg');
}

.abouticons > ul > li > p {
  text-align: center;
  margin-top: 13px;
}

.header {

  height:69%;
  max-height: 445px;

  width:100%;
  top: 20px;
  position: relative;
  opacity: 0;
}

.headfancy {
  width:100%;
  height:100%;
  position: absolute;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
position: absolute;

}


.header > .nav {
  width: 98%;
  z-index: 1200;
  opacity:1;
  height:0;
position: fixed;
}

.header > .nav > .backarr {
  width: 70px;
  height: 70px;
  margin-left:20px;
  margin-top:20px;
  float: left;
  background: url('/images/back.svg');
  background-position:center;
  background-size: cover;
  position: relative;
  top: 0px;
  cursor:pointer;
  opacity: 0.5;
  transition: all .2s;
}

.header > .nav > .backarr:hover  {
  top: -8px;
  opacity: 1;
  transition: all .2s;
}



.header > .nav > .backtext {
font-size: 28px;
position: absolute;
margin-top: 40px;
margin-left: 15px;
opacity: 0;
transition: all .2s;
}

.header > .nav > .backarr:hover + .backtext {
  opacity: 1;
  margin-top: 30px;
  transition: all .2s;
}

.header > .nav > .gameicon {
  width: 70px;
  height: 70px;
  margin-top:20px;
  float: right;
}

#extraheader {
  z-index: 1004;
    top:25px;
    opacity: 0;
}
.extra.mobile-android {
  background: url('/images/android.svg');
        background-position: center;
  height: 51%;
  background-repeat: no-repeat;
  width: 14%;
  min-width: 282px;
  min-height: 506px;
  position: absolute;
  top:-25px;
  left: 50%;
  transform: translateX(-50%);
  z-index:2000;
}

.extra.mobile-iphone {

  background: url('/images/iphone.svg');
        background-position: center;
  height: 51%;
  background-repeat: no-repeat;
  width: 13%;
  min-width: 282px;
  min-height: 528px;
  position: absolute;
  top:-25px;
  left: 50%;
  transform: translateX(-50%);
  z-index:2000;
  background-position:center;
  background-size: cover;
}

.extra {
  height: 100%;
  background-repeat: no-repeat;
  width:100%;
  min-width: 282px;
  min-height: 506px;


  z-index:0;
}

.extraimg > .icon {
  background: url(/images/video.svg);
  background-size: contain;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  margin: auto;
  top: 37%;
  width: 204px;
  height: 75px;
  opacity: 1;
  transition: all .2s;

}

.extraimg > .icon:hover {
  top:35%;
   box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: all .2s;
}

.extra.mobile-android > .extraimg {
  background-position:center;
  background-size: 100% 100%;
  width: 82.5%;
  height: 78%;
  position: absolute;
  top: 48.5%;
  left: 49%;
  transform: translate(-50%,-50%);
  z-index:1005;
}

.extra.mobile-iphone > .extraimg {

  background-position:center;
  background-size: 100% 100%;
  width: 77%;
  height: 71%;
  position: absolute;
  top: 48.9%;
  left: 50.4%;
  transform: translate(-50%,-50%);
  z-index:1005;
}

.extra > .extraimg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  z-index:1005;
}

.extra > .modal {
  background: white;
position: fixed;
top: 50%;
left: 50.4%;
transform: translate(-50%,0%);
z-index: 1005;
width: 656px;
height: 465px;
box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.extra > .modal > iframe{
width:100%;
height:100%;
opacity: 0;
}


.extra > .extraimg > iframe{
opacity: 0;

}

.header > .modalbg {
  background: rgba(0,0,0,0.3);
  top:0;
  left:0;
  width:0;
  height:0;
  opacity: 0;
  position: fixed;
  z-index: 0;
}

.subheader.mobile {
  text-align: center;
  height: 117px;
  position:relative;
  top: 15px;
  z-index:3;
  padding-top: 58px;
  opacity:0;

}

.subheader.mobile > .trophy {
  margin-top: -35px;
  height: 130px;
  width: 158px;
  background: url('/images/awardmassdigi.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 2%;
  transition: all .2s;
}


.subheader.mobile > .title {
  margin: 0px;
  font-size: 53px;
  color: white;
}

.subheader.mobile > .subtitle {
  font-size: 22px;
  color: white;
  margin-top: 11px;
}

.subheader {
  text-align: center;
  height: 142px;
  position:relative;
  top: 15px;
  z-index:3;
  padding-top: 25px;
  opacity:0;
}

.subheader > .trophy {
  margin-top: -35px;
  height: 130px;
  width: 158px;
  background: url('/images/awardmassdigi.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 2%;
}

.subheader > .title {
  margin: 0px;
  font-size: 53px;

}

.subheader > .subtitle {
  font-size: 22px;

  margin-top: 11px;
}

.content {
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0;
}

.content > .row {
  list-style:none;
  height: 106px;
  padding: 0;
  margin: auto;
  text-align: center;
}

.content > .row > li {
  display:inline-block;
  width:207px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position:relative;
  transition: all .2s;
  top: 0px;
}

.content > .row > li:hover {
  top: -5px;
  transition: all .2s;
}

.content > p {
  font-size: 28px;
  margin: auto;
  width: 69%;
  min-width:600px;
  max-width:880px;

}

.content > .gallery-col {
  list-style: none;
  padding: 0;
  min-width: 447px;
  margin-top: 32px;
}

.content > .gallery-col > .image {
width: 100%;
background: red;
height: 450px;
margin: auto;
display: block;
max-width: 805px;
border-radius: 2px;
margin-bottom: 32px;

}

.content > .gallery-col > a > img {
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content > .gallery-col > a {
  position:relative;
  top: 0;
  transition: all .2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.content > .gallery-col > .image.mobile {
width: 345px;
background: red;
height: 564px;
margin: auto;
display: block;
max-width: 805px;
border-radius: 2px;
margin-bottom: 32px;

}

.content > .gallery-col > .blurb {
margin: auto;
display:block;
max-width: 805px;
border-radius: 2px;
margin-top: 15px;
margin-bottom: 15px;
}

.content > .gallery-col > .blurb > p{
  font-size: 21px;
    margin: auto;
    width: 98%;
    min-width: 552px;

}

.content > .gallery-col> .closure {
  margin-top: 0px;
  text-align: center;
  font-size: 32px;
}

.mylogo {
  background: url(/images/mylogo.svg);
    width: 430px;
    height: 300px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.finalwords {
  text-align: center;
  font-size: 24px;
  position: absolute;
  margin-top:20px;
    left: 0;
    width: 100%;
    color: white;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.finalwords > p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.finalwords > p > a{
text-decoration: none;
color:white;
font-size: 33px;
position: relative;
top: 0px;
    z-index: 1005;
transition: all .2s;
}

.finalwords > p > a:hover {
top: -5px;
transition: all .2s;
}

.wrapcase {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index:0;
}

.transcircle {
background: white;
width: 0px;
height: 100%;
margin: -5px;
top:0;
border-radius: 0%;
position:fixed;
z-index:1000;
opacity: 0;
}

::-webkit-scrollbar {
    width: 10px
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, .5)
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: hsla(0, 0%, 100%, .8)
}
::-webkit-scrollbar-thumb:window-inactive {
    background: hsla(0, 0%, 100%, .5)
}

#portfolio .mix {
  display: none;
}

.piccover {

  width:100%;
  height: 100%;
  opacity: 0;
  background:url('/images/Me.jpg');
  background-position:25%;
  background-size: cover;
}

.bottom {
position:fixed;
bottom: 0px;
font-size: 35px;
width: 100%;
z-index:3;
opacity: 0;
}


.bottom > .righty {
  float:right;
  margin-right: 3%;
  text-decoration: none;
  cursor: pointer;
  position:relative;
  top:0px;
  transition: all .2s;
}

.bottom > .lefty {
  float:left;
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
  position:relative;
  top:0px;
  transition: all .2s;
}

.bottom > .righty:hover {
  top:-10px;
  transition: all .2s;
}

.bottom > .lefty:hover {

  top:-10px;
  transition: all .2s;
}

.wraplab {
  height: 100%;
  width:100%;
  position:absolute;
  opacity: 0;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  overflow-x: hidden;
}
 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.wraplab:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.labhead {
  font-size: 40px;
  position:relative;
  margin-top:2%;
  margin-left: 3%;
  margin-bottom:3%;
}
.labtext {
  font-size: 16px;
  opacity: 0.75;
}
.labhead p {
  margin-top: 5px;
  margin-bottom: 5px;
  position:relative;
  top:-7px;
  opacity: 0;
}
.grid {
  height: 100%;
  z-index: 1;
  margin-left:3%;
  margin-right:3%;
  margin-top:1%;
  top: -8px;
  opacity: 0;
}
.gridbg {
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background: url("https://www.transparenttextures.com/patterns/grid-me.png");

  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 500%;
  position: absolute;
  opacity: 0;

  z-index:0;
  top:0;
}
.grid-item {margin-top:0px; min-width: 200px; min-height:200px; margin-bottom: 10px; border-radius:2px; transition: all .2s; }
.grid-item:hover {margin-top:-6px; transition: all .2s}
.grid-item.mobileitem {margin-top:0px; min-width: 200px; min-height:310px; margin-bottom: 10px; border-radius:2px;  transition: all .2s;}
.grid-item.mobileitem:hover {margin-top:-8px; transition: all .2s}
.grid-item.videoitem { margin-top:0px; min-width: 400px; min-height:300px; margin-bottom: 10px; border-radius:2px;  transition: all .2s;}
.grid-item.videoitem:hover { margin-top:-8px; transition: all .2s;}
.grid-item.videoitem img {height:100%; width:100%;}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
